@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

$myColor: #34495e;
$bgColor: #ecf0f1;
$footerColor: #bdc3c7;

$mm: #db7474;

@mixin flexible($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // background-color: $bgColor;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: $myColor;
  color: #fff;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    h1 {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 600;
      color: #fff;
      margin: 0;
      transition: all 0.2s ease;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .leng {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
      transform: scale(1.5);
    }
  }
}

.btns {
  button {
    border: none;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    margin-left: 5px;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}

.home {
  padding: 10px 60px;

  .best-rates{
    tbody{
      td{
        vertical-align: middle;
        p{
          font-size: 12px;
          margin: 0;
          color: $myColor;
        }
      }
    }
  }
}

.all-banks {
  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-group,
    select {
      width: 100px;
    }
  }
  .update-date {
    font-size: 12px;
  }
  .bank-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      margin: 0;
    }
    img {
      width: 140px;
    }
  }

  tbody td {
    vertical-align: middle;
  }
}

.footer {
  padding: 20px 60px;
  background-color: $footerColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .social {
    ul {
      list-style: none;
      padding: 0;
    }
  }
  .desc {
    text-align: center;
    h4 {
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
      font-size: 18px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.history {
  padding: 20px 60px;

  .header,
  .history-links {
    display: flex;
    justify-content: space-between;
    button {
      margin-right: 15px;
    }
  }
}

.contact {
  padding: 10px 60px;
  height: 418px;
  display: flex;

  .left {
    flex: 1;
  }
  .right {
    flex: 1;
    @include flexible(column, center, center);
    form {
      width: 400px;
      @include flexible(column, space-around, center);
      & > * {
        width: 400px;
        font-size: 14px;
        margin: 10px 0;
        padding: 5px 10px;
        border: 1px solid $myColor;
        border-radius: 5px;
      }
      .contact-btn {
        border: none;
        padding: 5px;
        width: 150px;
        background-color: $myColor;
        color: #fff;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
